body{
    background-color: brown;
}
@media (max-width: 600px) {
    boby {
        background-color: blue;
    }

    }
    @media (max-width: 417px) {
        boby {
            background-color: blue;
        }
    
      